[submodule "themes/hugo-hero-theme"]
	path = themes/hugo-hero-theme
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/themefisher/kross-hugo.git
